<nav class="navbar navbar-default blue">
  <div class="container-fluid">
    <div class="position">
      <div appDropdown class="dropdown">
        <div class="circle">LC</div>
        <a href="#" class="dropdown-toggle" style="color: white;">
          Hi Lara <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="cover-div">
  <img
    class="cover cover-div"
    src="https://images.wallpaperscraft.com/image/desert_sand_dunes_153015_2560x1080.jpg"
  />
</div>
<div class="image"></div>
<h3 class="text">Lara Croft</h3>
